body{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: black;
    height: 100px;

}
.logo{
    background-image: url(../images/saquiz.png);
    background-size: 40%;
    height: 90px;
    width: 10%;
    margin-left: 30px;
    background-repeat: no-repeat;
   
}
.content{
 background-image: url(../images/img-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.header-text{
font-size: 30px;
color: white;
position: absolute;
top: 25px;
left: 35%;
font-weight: bold;
}
.container{
    position: relative;
    top: 7%;
    height: 50%;
    width: 40%;
    left: 30%;
    background-color: white;
    border-radius: 5px;
}
.container-header{
    height: 100px;
    background-color: darkturquoise;
}
.title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}

.input-form{
    height: 60px; 
    margin: 10px 35px;
    
}
.form-control{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-radius: 1px solid silver;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
}
.error-form{
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.icon-form{
  
    height: 35px;
    width: 30px;
    position: relative;
    top: 45px;
    left: 96%;
}
.icon-form-login{
    background-image: url(../images/ic-login.png);
    background-repeat: no-repeat;
}
.icon-form-pwd{
    background-image: url(../images/capture.png);
    background-repeat: no-repeat;
}
.btn-form{
    margin-top: 0px;
    padding: 10px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
}
.btn-forminscription{
    margin-top: -5%;
    padding: 10px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
}
.link-form{
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
    text-decoration: none;
}
.erreur{
    color: red;
    height: 10px;
    width: 100%;
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.text{
    margin-top: 15px;
}

/*Inscription.php*******************************************************************************************************************************************/

.container-users{
    
    width: 90%;
    height: 650px;
    float: left;
    margin-left: 5%;
    background-color: white;
    border-radius: 5px;
    border:1px gray solid;

    
    

}
.header-users{
    width: 60%;
    height: 120x;
  
}
.header-users h3{
    margin-left: 3%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}
.phrase{
    font-size: 13px;
    margin-top: -2%;
    height: 20px;
    margin-left:3%;
    border-bottom: 2px solid silver;
}

.input-usersform{
    width: 70%;
    height: 50px;
    margin-left: 10px;
    margin: 2%;
    color: silver;
}
.input-users{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border-radius: 1px solid silver;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
    margin-left: 3%;
}

[type=file]{
    
    float: left;
    font-size: 23px;
    margin-top: 3%;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    background-color: darkturquoise;
    color: white;
    width: 29%;
    margin-left: 27%;
    
}

.imgavatar{
        width: 30%;
        float: right;
         margin-right: 4%; 
        height: 195px;
        border-radius: 50%;
        border: 3px darkturquoise solid;
        margin-top: -5%;
        
}
.avatarprofil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.btn-form{
    margin-left: 10%;
}
.label-avatar{
    float: left;
    margin: 2%;
    color: black;
    font-size: 25px;

}
/*Page Admin (Acceuil)**************************************************************************************************************************/

.admincontainer{
    width: 94%;
    height: 800px;
    background-color: #f2f2f2;
    margin-left: 3%;
    margin-top: 1%;
}
.adminheader{
    width: 100%;
    height: 80px;
    background-color: darkturquoise;
}
.textheader{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 2.5%;
   font-weight: bold;
   font-family: josefin sans;
    
}
.photoUserconnecte{
    width: 12%;
    float: left;
    margin-left: 4%; 
    height: 130px;
    border-radius: 50%;
    border: 3px white solid;
    position: absolute;
    margin-top: 2%;
    border:2px solid silver;
    
    
}
.imageadmin{
    width: 100%;
    height: 100%;
}
.btn-deconnexion{
    margin-top: 0px;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
    margin-top: -4%;
    margin-right: 5%;
    font-family: josefin sans;
}
.blocgauche{
    width: 40%;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 5%;
    border-radius: 20px;
}
.headergaucheadmin{
height: 200px;
width: 98%;
margin-left: 1%;
font-size: 25px;
margin-top: 2%;
color: dimgrey;
border-radius: 20px;
background-color: darkturquoise;
}

.blocbodyadmin{
    height: 200px;
    width: 96%;
    margin-top: 2%;
    height: 350px;
    margin-left: 2%;
}
.menu{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    
    
}
.menu a{
    font-size: 30px;
    text-decoration: none;
    color: silver;
    margin-left: 5%;
}
.menu img{
    float: right;
    padding:3%;
    
}
.menu :hover{
    background-color: gainsboro;
    height: 50px;
}
.info{
   float: right;
    width: 50%;
    margin-right: 3%;
   height: 60px;
    border-radius: 5px;
    margin-top: 15%;
}
.blocdroite{
    width: 55%;
    float: right;
    height: auto;
    margin-top: 2%;
    border-radius: 5px;
    margin-right: 2%;
    
    /*border:1px gray solid;*/
}
 img{
    max-width: 100;
    height: auto;

}

/*ListeJoueur.php**************************************************************************************************************************************/
.containerListeJoueur{
    width: 80%;
    height: 650px;
    float: left;
    background-color: white;
    margin-right: 15%;
    border-radius: 20px;
}

.titrelisteJoueur{
    width: 100%;
    height: 30px;
    margin-top: 4%;
    font-size: 20px;
    font-weight: bold;
    font-family: josefin sans;
    text-align: center;

}
.tableListeJoueur{
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    border: 1px darkturquoise solid;
    margin-left: 10%;
    margin-top: 2%;
    
}
.table{
    text-align: center;
}
.table th{
    width: 10%;
    margin-left: 4%;
    font-size: 25px;
    font-family: josefin sans;
    font-weight: bold;
}

.table tr{
    height: 10px;
    font-size: 20px;
    font-family: josefin sans;
}
.btn-suivantliste{
    margin-top: 2%;
    width: 25%;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
    margin-right: 10%;
    font-family: josefin sans;
}.btn-precedantliste{
    margin-top: 2%;
    width: 25%;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: left;
    margin-left: 10%;
    font-family: josefin sans;
}
.error-users{
    color: red;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
}

/* JEUX */
.containerjeux{
background-color:#f7f7f7;
width: 96%;
height: 800px;
margin-top: 1%;
margin-left: 2%;
}
.jeuxheader{
    width: 100%;
    height: 100px;
    background-color: darkturquoise;
}
.textheaderjeux{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 2.5%;
   font-weight: bold;
   font-family: josefin sans;
   float: left;
   margin-left: 6%;
    
}
.btn-deconnexionjeux{
    margin-top: 3%;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
    margin-right: 5%;
    font-family: josefin sans;
}
.imagejoueur{
    width: 8%;
    height: 80px;
    float: left;
    border-radius: 50%;
    margin-left: 3%; 
    border: 2px solid white;
}
.infojoueur{
    width: 10%;
    height: 20px;
    margin-top: 6.5%;
    position: absolute;
    margin-left: 2%;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.bodyjeux{
    width: 97%;
    height: 650px;
    margin-left: 1.5%;
    margin-top: 0px;
    border-radius: 15px;
}
.gauchejeux{
    width: 60%;
    height: 600px;
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
    border: 2px solid darkturquoise;
    border-radius: 15px;

}
.headergauche{
    width: 98%;
    height: 100px;
    background-color: #f7f7f7;
    float: left;
    margin-left: 1%;
    margin-top: 2%;
    border-bottom: 3px solid darkturquoise;
}
.questionjeux{
    background-color: whitesmoke;
    height: 400px;
    width: 98%;
    margin-top: 25%;
    border-radius: 15px;
    border:1px solid black;
    margin-left: 1%;
    font-size: 30px;
}
.scorejeux{
    width: 15%;
    background-color:whitesmoke;
    height: 40px;
    float: right;
    margin-top: 3%;
    border-radius: 15px;
    margin-right: 1%;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid darkturquoise;
    
    
}

.droitejeux{
    width: 30%;
    height: 500px;
    
    float: right;
    margin-top: 5%;
    margin-right: 1%;
    border-radius: 10px;

}
.btndroitetop{
    width: 40%;
    height: 40px;
    color: silver;
    font-weight: bold;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
    margin-left: 10%;    
}
.btndroitemon{
    width: 40%;
    height: 40px;
    color: darkturquoise;
    font-weight: bold;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
    float: right;
    margin-right: 10%;
    
}

.btndroitetop :hover{
    color: silver;
    background-color: white;
}
.tablejeux{
    margin-top: 1%;
    background-color: white;
    height: 300px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    color: black;
    font-size: 30px;
    font-family: open sans;
    font-weight: bold;
}
.btn-suivant{
    margin-top: 2%;
    width: 25%;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
    margin-right: 10%;
    font-family: josefin sans;
}
.btn-precedant{
    margin-top: 2%;
    width: 25%;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: left;
    margin-left: 10%;
    font-family: josefin sans;

}
.paginationjeux{
    width: 100%;
    height: 70px;
    margin-top: 35%;

}
.tableaujeux td{
width: 25%;
text-align: center;

}
.tt{
    border-bottom: 4px solid darkturquoise;
}
/*CREER QUESTION ----------------------------------------------------------------------------------------------------------------------------------*/
.contenairCreerQuestion{
width: 100%;
height: auto;
background-color: white;
margin-top: -3.5%;
}
.headerCreerQuestion{
    width: 90%;
    margin-left: 5%;
    height: 80px;

}
.textheaderCreerQuestion{
   
    padding: 5%;
    font-size: 30px;
    color: darkturquoise;
    font-weight: bold;
    font-family: josefin sans;
    font-style: italic;
}
.bodyCreerQuestion{
    height: auto;
    margin-top: 2%;
    border-radius: 5%;
    border: 2px solid darkturquoise;
    width: 94%;
    margin-left: 3%;
}
.form-questions{
    width: 90%;
    height: 75px;
    margin-top: 2%;
    margin-left: 5%;
}
.libelle{
    float: left;
    font-size: 20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;

}
.controlquestion1{
    margin-left: 2%;
    height: 90%;
    width: 80%;
    background-color: #f2f2f2;
    font-size: 20px;
    font-style: initial;
    border-bottom: 2px solid darkturquoise;
    border-right: 2px solid darkturquoise;

}
.controlquestion2{
    margin-left: 6.5%;
    height: 50%;
    width: 20%;
    background-color: #f2f2f2;
    font-size: 20px;
    border-bottom: 2px solid darkturquoise;
    border-right: 2px solid darkturquoise;
    margin-top: 3%;
   
}
.controlquestion3{
    margin-left: 2%;
    height: 60%;
    width: 56%;
    background-color: #f2f2f2;
    font-size: 20px;
    font-style: initial;
    border-bottom: 2px solid darkturquoise;
    border-right: 2px solid darkturquoise;
    
}
.iconeajout{
    height: 40px;
    width: 8%;
    float: right;
    

}
.iconeajout img{
    float: right;
   
}
.controlquestion4{
    margin-left: 2%;
    height: 70%;
    width: 60%;
    background-color: #f2f2f2;
    font-size: 20px;
    font-style: initial;
    border-bottom: 2px solid darkturquoise;
    border-right: 2px solid darkturquoise;
}

.btn-enregistrer{
  /*  padding: 5px;*/
    color: white;
    background-color: darkturquoise;
    font-size: 15px;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
  /*  margin-right: 4%;*/
  margin-top: auto;
    
}
.btn-ajoutreponse{
    float: right;
    margin-right: 0px;
    
}


/*********************************************************************   LISTE QUESTION ******************************************************************/
.nbr5{
    width: 70px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    border: 2px solid silver;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.tableListeQuestion{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 4%;
    border: 2px solid silver;
    border-radius: 15px;
    font-size: 20px;
    
}
.tableListeQuestion h2{
    margin-left: 10%;
}
.alignement{
    width: 20%;
    border: 2px solid darkblue;
    
}
.inputtexte{
    margin-left: 13%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    
}
#ok{
    background-color: darkblue;
    width: 7%;
    height: 30px;
    text-align: center;
    margin-left: 2%;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}