body{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: black;
    height: 100px;

}
.logo{
    background-image: url(../images/saquiz.png);
    background-size: 40%;
    height: 90px;
    width: 10%;
    margin-left: 30px;
    background-repeat: no-repeat;
   
}
.content{
 /*  background-image: url(../images/img-bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.header-text{
font-size: 30px;
color: white;
position: absolute;
top: 25px;
left: 35%;
font-weight: bold;
}
.container{
    position: relative;
    top: 7%;
    height: 50%;
    width: 40%;
    left: 30%;
    background-color: white;
    border-radius: 5px;
}
.container-header{
    height: 100px;
    background-color: darkturquoise;
}
.title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}

.input-form{
    height: 60px; 
    margin: 10px 35px;
    
}
.form-control{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-radius: 1px solid silver;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
}
.error-form{
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.icon-form{
  
    height: 35px;
    width: 30px;
    position: relative;
    top: 45px;
    left: 96%;
}
.icon-form-login{
    background-image: url(../images/ic-login.png);
    background-repeat: no-repeat;
}
.icon-form-pwd{
    background-image: url(../images/capture.png);
    background-repeat: no-repeat;
}
.btn-form{
    margin-top: 0px;
    padding: 10px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
}
.link-form{
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
    text-decoration: none;
}
.erreur{
    color: red;
    height: 10px;
    width: 100%;
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.text{
    margin-top: 15px;
}

/*Inscription.php*/

.container-users{
    border:1px gray solid;
    width: 100%;
    height: 650px;
    background-color: white;
    border-radius: 5px;
    margin-right: 2%;
    

}
.header-users{
    width: 60%;
    height: 120x;
  
}
.header-users h3{
    margin-left: 3%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}
.phrase{
    font-size: 13px;
    margin-top: -2%;
    height: 20px;
    margin-left:3%;
    border-bottom: 2px solid silver;
}

.input-usersform{
    width: 70%;
    height: 50px;
    margin-left: 10px;
    margin: 2%;
    color: silver;
}
.input-users{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border-radius: 1px solid silver;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
    margin-left: 3%;
}

[type=file]{
    
    float: left;
    font-size: 23px;
    margin-top: 3%;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    background-color: darkturquoise;
    color: white;
    width: 29%;
    margin-left: 27%;
    
}

.imgavatar{
        width: 30%;
        float: right;
      margin-right: 4%; 
        height: 195px;
        border-radius: 50%;
        border: 3px darkturquoise solid;
        margin-top: -5%;
        
}

.btn-form{
    margin-left: 10%;
}
.label-avatar{
    float: left;
    margin: 2%;
    color: black;
    font-size: 25px;

}
/*Page Admin (Acceuil)*/

.admincontainer{
    width: 94%;
    height: 750px;
    background-color: #f2f2f2;
    margin-left: 3%;
    margin-top: 1%;
}
.adminheader{
    width: 100%;
    height: 80px;
    background-color: darkturquoise;
}
.textheader{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 2.5%;
   font-weight: bold;
   font-family: josefin sans;
    
}
.photoUserconnecte{
    width: 10%;
    float: left;
  margin-left: 4%; 
    height: 130px;
    border-radius: 50%;
    border: 3px white solid;
    position: absolute;
    margin-top: -10%;
    border:2px solid silver;
    
}

.btn-deconnexion{
    margin-top: 0px;
    padding: 5px;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
    margin-top: -4%;
    margin-right: 5%;
    font-family: josefin sans;
}
.blocgauche{
    width: 40%;
    height: 500px;
    background-color: white;
    float: left;
    margin-left: 10px;
    margin-top: 5%;
    border-radius: 20px;
}
.headergauche{
height: 200px;
width: 100%;
background-color:darkturquoise;
border-radius: 20px;
font-size: 25px;
color: white;

}
.menu{
    width: 100%;
    height: 50px;
    
    
}
.menu a{
    font-size: 30px;
    text-decoration: none;
    color: silver;
    margin-left: 5%;
}
.menu img{
    float: right;
    padding:3%;
    
}
.menu :hover{
    background-color: gainsboro;
    height: 50px;
}
.info{
    margin-left: 5%;
    text-align: center;
    padding-top: 8%;
}
.blocdroite{
    width: 55%;
    float: right;
    height: 700px;
    margin-top: 2%;
    border-radius: 5px;
    margin-right: 2%;
    /*border:1px gray solid;*/
}

/*ListeJoueur.php*/
.containerListeJoueur{
    width: 80%;
    height: 650px;
    float: left;
    background-color: white;
    margin-right: 15%;
    border-radius: 20px;
}

.titrelisteJoueur{
    width: 100%;
    height: 30px;
    margin-top: 4%;
    font-size: 20px;
    font-weight: bold;
    font-family: josefin sans;
    text-align: center;

}
.tableListeJoueur{
    width: 80%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    border: 1px darkturquoise solid;
    margin-left: 10%;
    margin-top: 2%;
    
}
.table{
    text-align: center;
}
.table th{
    width: 10%;
    margin-left: 4%;
    font-size: 25px;
    font-family: josefin sans;
    font-weight: bold;
}

.table tr{
    height: 10px;
    font-size: 20px;
    font-family: josefin sans;
}
.btn-suivant{
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 1px solid darkturquoise;
    float: right;
    margin-top: 4%;
    margin-right: 10%;
    font-family: josefin sans;
}
.error-users{
    color: red;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
}
